<body onload="init([])">

<%= render "shared/menu" %>

<div class="container">

    <h1> Welcome to NGO directory listing </h1>

    <div id="map" class="smallmap openlayouts"></div>
    <div id="docs">
        <p><input id="animate" type="checkbox" checked="checked">Animated
            zoom (if supported by GMaps on your device)</input></p>

        <p id="coordinates">Co-ordinates:</p>
    </div>

</div>
</body>